.catalogo {
  padding: 3rem 10vw;
}

.seccion__opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}

.catalogo__encabezado {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--gris);
}

.catalogo__mas {
  font-size: small;
  font-weight: bold;
  color: var(--rojo);
  padding-right: 1.5rem;
  background-image: url(../../iconos/mas.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
