.contacto {
  padding: 3rem 10vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--palo-rosa);
}

.contacto__contenedor {
  width: 42%;
  display: flex;
  justify-content: space-between;
}

.contacto__img {
  width: 15vw;
}

.contacto__link {
  margin-bottom: 1.2rem;
}

.contacto__formulario {
  width: 50%;
}

.contacto__mensaje {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contacto__input {
  width: 100%;
  background: var(--blanco-puro);
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contacto__textarea {
  width: 100%;
  background: var(--blanco-puro);
  margin-bottom: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}

.contacto__boton {
  display: inline-block;
  border: 1px solid var(--rojo);
  padding: 0.7rem;
  background: var(--rojo);
  color: var(--blanco-puro);
  transition: all 0.1s ease-in-out;
}

.contacto__boton:active {
  background: var(--blanco-puro);
  color: var(--rojo);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contacto {
    padding: 2rem 4vw;
  }

  .contacto__contenedor {
    width: 30%;
    flex-direction: column;
    align-items: center;
  }

  .contacto__contenedor img {
    margin-bottom: 1.3rem;
  }

  .contacto__formulario {
    width: 65%;
  }
}
